div {
    background-color: yellow;
    height: 20px;
    width: 20 px;

}

.grid{
    height: 400 px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;

}

.block {
    background-color: blue;
}